.container {
    max-width: 1440px;
    margin: 70px 90px;
    overflow: hidden;
    display: flex;
    gap: 82px;
}

.image {
    width: 606px;
    height: 738px;
    object-fit: cover;
    display: block;
    border-radius: 21px;
    grid-column: 1;
    grid-row: 1/span 5;
}

.contentWrapper {
    grid-column: 2;
    grid-row: 1/span 5;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title {
    font-family: Anton, sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

.preparationSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.preparationSection .subtitle {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: #7a7a7a;
    margin: 0;
}

.time {
    width: 76px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 16px;
    background-color: #ffd15b;
}

.ingredientsSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ingredientsSection .subtitle {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: #7a7a7a;
    margin: 0;
}

.ingredients {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.ingredient {
    flex: 0 0 calc(30% - 10px);
    box-sizing: border-box;
}

.ingredientName {
    font-size: 16px;
    color: #1b1b1b;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.ingredientQuantity {
    font-size: 16px;
    font-weight: 400;
    color: #7a7a7a;
    white-space: nowrap;
}

.ustensilesSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ustensilesSection .subtitle {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: #7a7a7a;
    margin: 0;
}

.ustensilesList {
    list-style: none;
}

.appareilsSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.appareilsSection .subtitle {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: #7a7a7a;
    margin: 0;
}

.recetteSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.recetteSection .subtitle {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: #7a7a7a;
    margin: 0;
}

.description {
    width: 600px;
    font-size: 16px;
    color: #1b1b1b;
    line-height: 24px;
}