@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.app {
  max-width: 1440px;
  margin: 0 auto;
}
body {
  margin: 0;
}

main {
  background-color: #EDEDED;
  min-height: 100vh;
  padding:0px 100px;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}




