.filtersSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px;
}

.filtersContainer {
  display: flex;
  gap: 65px;
}

.filter {
  position: relative;
}

.filterBtn {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 195px;
  padding: 18px;
  font-size: 16px;
}

.dropdownIcon {
  margin-left: 0.5rem;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.recipeCounter {

  font-family: 'Anton', sans-serif;
  font-size: 18px;
}

.icon {
  width: 13px;
}